<div class="container">
    <h3>{{doctorName}} Available Dates</h3>
    <ng-container *ngIf="doctorAvailabilities && doctorAvailabilities.length > 0; else noDataTemplate">
        <table class="table table-bordered mt-3 align-items-center">
            <thead>
                <tr>
                    <th class="text-center">Day</th>
                    <th class="text-center">Start Date</th>
                    <th class="text-center">End Date</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doctorAvailability of doctorAvailabilities; trackBy: trackByFn">
                    <td class="text-center">{{ doctorAvailability.day }}</td>
                    <td class="text-center">{{ doctorAvailability.start | date: 'dd:MM:yyyy hh:mm a' }}</td>
                    <td class="text-center">{{ doctorAvailability.end | date: 'shortTime' }}</td>
                    <td class="text-center">
                        <button class="btn btn-primary" (click)="isModalOpen = true; modalDate= doctorAvailability.start;">Book An Appointment</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>


    <abp-modal [(visible)]="isModalOpen">
        <ng-template #abpHeader>
          <h3>Booking An Appointment</h3>
        </ng-template>
      
        <ng-template #abpBody>
            <form #form="ngForm" (ngSubmit)="onFormSubmit()">
                <div class="mt-2">
                    <div class="mt-3">
                        <label class="form-label">Patient ID</label>
                        <input type="text" name="patientId" class="form-control" [(ngModel)]="model.patientId"  placeholder="Enter your ID" required>
                    </div>
                    <div class="mt-3">
                        <label class="form-label">Doctor Name</label>
                        <input type="text" disabled name="doctorName" class="form-control" [(ngModel)]="doctorName">
                    </div>
                    <div class="mt-3">
                        <label class="form-label">Date</label>
                        <input type="datetime" disabled name="appointmentDate" class="form-control" [value]="modalDate | date: 'dd:MMM:yyyy hh:mm a'">
                    </div>
                    <div class="mt-3">
                        <label class="form-label">Appointment Type</label>
                        <select class="form-control" id="AppointmentType" name="appointmentTypeId"  [(ngModel)]="model.appointmentTypeId" required>
                            <option *ngFor="let type of appointmentTypes" [value]="type.id">
                                {{ type.appointmentType }}
                              </option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary  me-2">Book</button>
                        <button  class="btn btn-warning" (click)="isModalOpen = false">Close</button>
                    </div>
                </div>
            </form>
        </ng-template>
      
       
      </abp-modal>

    <ng-template #noDataTemplate>
        <div class="text-center mt-5">
            <i class="bi bi-calendar-x fs-1 text-danger"></i>
            <p class="mt-3 fs-4 text-muted">No available dates at the moment.</p>
        </div>
    </ng-template>
</div>
